  importFrom("methods", "is")
  importFrom("stats", "binomial", "sd", "terms", "glm","coef","vcov")
import("DBI")
import("dplyr")
importFrom("purrr","map")
import("rlang")
import("tidypredict")
export(dbglm)

